body {
    font-family: Calibri;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

#slogan {
    border: 1px solid black;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
