body {
    font-family: arial;
    margin: 0px;
    margin-top: 50px;
    background-image: url(/images/sfondo.jpg);
    background-repeat: repeat;
}

.container {
    display: flex;
    justify-content: space-between;
}

#slogan {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url("/images/pine-tree.jpg");
}