body {
    font-family: arial;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

#slogan {
    border: 1px solid black;
    height: 80px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url("/images/pine-tree.jpg");
    width: calc(100% - 40px);
}