html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellowgreen;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    padding-top: 60px;
    min-height: 100vh;
    padding: 20px;
}

.link {
    display: flex;
    height: 100%;
}

.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    box-sizing: border-box;
}

.link a img, #social a img {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.link a:hover {
    background-color: green;
}

#social {
    margin-left: auto;
    padding: 10px;
}
